extends base

block emailContent
    p Hi #{name}
        p Here are your products
        table.btn.btn-primary(role="presentation", border="0", cellpadding="0", cellspacing="0")
            tbody
                tr
                    td(align="left")
                        table(role="presentation", border="0", cellpadding="0", cellspacing="0")
                            tbody
                                tr
                                    td
                                        a(href="http://htmlemail.io", target="_blank") Call To Action
        p This is a really simple email template. Its sole purpose is to get the recipient to click the button with no distractions.
        p Good luck! Hope it works.